## Cleanup of Medicare Drug Spending Data 2011 -2015

In [98]:
# import dependencies
import pandas as pd
import numpy as np

In [99]:
# read Medicaire spending csv into DF
medicare_spending = "Data Files/Medicare_Drug_Spending_PartD_All_Drugs_YTD_2015_12_06_2016.csv"
medicare_spending_df = pd.read_csv(medicare_spending,header = 3)
medicare_spending_df = medicare_spending_df.fillna(value = 0)
# cast to string and remove whitespace to merge
medicare_spending_df['Generic Name'] = medicare_spending_df['Generic Name'].astype(str)
medicare_spending_df['Generic Name'] = medicare_spending_df['Generic Name'].str.strip()

In [100]:
# clean df to include relevant rows ( total spending, average cost, unit count)
medicare_spending_cleaned_df = medicare_spending_df.iloc[:,[1,3,6,7,
                                                           13,16,17,
                                                           23,26,27,
                                                           33,36,37,
                                                           43,46,47]]
medicare_spending_cleaned_df.head()

,Generic Name,"Total Spending, 2011","Unit Count, 2011","Average Cost Per Unit (Weighted), 2011","Total Spending, 2012","Unit Count, 2012","Average Cost Per Unit (Weighted), 2012","Total Spending, 2013","Unit Count, 2013","Average Cost Per Unit (Weighted), 2013","Total Spending, 2014","Unit Count, 2014","Average Cost Per Unit (Weighted), 2014","Total Spending, 2015","Unit Count, 2015","Average Cost Per Unit (Weighted), 2015"
0,SULFACETAMIDE SODIUM,"$1,569.19","5,170",$0.30,0,0,0,0,0,0,0,0,0,0,0,0
1,"PEN NEEDLE, DIABETIC","$57,666.73","293,160",$0.20,"$75,786.01","405,484",$0.19,"$95,304.09","522,780",$0.18,"$150,749.66","813,255",$0.19,"$257,895.63","1,335,132",$0.19
2,"PEN NEEDLE, DIABETIC",0,0,0,0,0,0,0,0,0,"$27,282.97","137,290",$0.20,"$73,396.65","369,886",$0.20
3,GUAIFENESIN/DM/PSEUDOEPHEDRINE,$350.10,497,$0.70,0,0,0,0,0,0,0,0,0,0,0,0
4,METHOXSALEN,"$9,003.26",298,$30.21,0,0,0,"$19,590.75",750,$26.12,0,0,0,0,0,0

In [101]:
# read opioids csv into DF
opioids = "Data Files/opioids.csv"
opioids_df = pd.read_csv(opioids)
# cast to string and remove whitespace to merge
opioids_df['Generic Name'] = opioids_df['Generic Name'].astype(str)
opioids_df['Generic Name'] = opioids_df['Generic Name'].str.strip()
opioids_df.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [102]:
# merge opiods df and medicare spending on generic name to only include spending data with opioids
opioids_medicare_spending_df = pd.merge(medicare_spending_cleaned_df,opioids_df,how = 'inner', on = 'Generic Name')
# remove commas and '$' to cast to number
opioids_medicare_spending_df = opioids_medicare_spending_df.replace({'\$': '', ',': ''}, regex=True)
# change columns to floats
opioids_medicare_spending_df['Total Spending, 2011'] = pd.to_numeric(opioids_medicare_spending_df['Total Spending, 2011'])
opioids_medicare_spending_df['Unit Count, 2011'] = pd.to_numeric(opioids_medicare_spending_df['Unit Count, 2011'])
opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2011'] = pd.to_numeric(opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2011'])

opioids_medicare_spending_df['Total Spending, 2012'] = pd.to_numeric(opioids_medicare_spending_df['Total Spending, 2012'])
opioids_medicare_spending_df['Unit Count, 2012'] = pd.to_numeric(opioids_medicare_spending_df['Unit Count, 2012'])
opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2012'] = pd.to_numeric(opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2012'])

opioids_medicare_spending_df['Total Spending, 2013'] = pd.to_numeric(opioids_medicare_spending_df['Total Spending, 2013'])
opioids_medicare_spending_df['Unit Count, 2013'] = pd.to_numeric(opioids_medicare_spending_df['Unit Count, 2013'])
opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2013'] = pd.to_numeric(opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2013'])

opioids_medicare_spending_df['Total Spending, 2014'] = pd.to_numeric(opioids_medicare_spending_df['Total Spending, 2014'])
opioids_medicare_spending_df['Unit Count, 2014'] = pd.to_numeric(opioids_medicare_spending_df['Unit Count, 2014'])
opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2014'] = pd.to_numeric(opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2014'])

opioids_medicare_spending_df['Total Spending, 2015'] = pd.to_numeric(opioids_medicare_spending_df['Total Spending, 2015'])
opioids_medicare_spending_df['Unit Count, 2015'] = pd.to_numeric(opioids_medicare_spending_df['Unit Count, 2015'])
opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2015'] = pd.to_numeric(opioids_medicare_spending_df['Average Cost Per Unit (Weighted), 2015'])
opioids_medicare_spending_df.head()

,Generic Name,"Total Spending, 2011","Unit Count, 2011","Average Cost Per Unit (Weighted), 2011","Total Spending, 2012","Unit Count, 2012","Average Cost Per Unit (Weighted), 2012","Total Spending, 2013","Unit Count, 2013","Average Cost Per Unit (Weighted), 2013","Total Spending, 2014","Unit Count, 2014","Average Cost Per Unit (Weighted), 2014","Total Spending, 2015","Unit Count, 2015","Average Cost Per Unit (Weighted), 2015",Drug Name
0,FENTANYL CITRATE,123813.83,5458,21.29,253398.25,9674,23.11,433417.39,10188,41.53,3820093.09,57250,57.6,7192140.53,96526,67.52,ABSTRAL
1,FENTANYL CITRATE,123813.83,5458,21.29,253398.25,9674,23.11,433417.39,10188,41.53,3820093.09,57250,57.6,7192140.53,96526,67.52,ACTIQ
2,FENTANYL CITRATE,123813.83,5458,21.29,253398.25,9674,23.11,433417.39,10188,41.53,3820093.09,57250,57.6,7192140.53,96526,67.52,FENTANYL CITRATE
3,FENTANYL CITRATE,123813.83,5458,21.29,253398.25,9674,23.11,433417.39,10188,41.53,3820093.09,57250,57.6,7192140.53,96526,67.52,FENTORA
4,FENTANYL CITRATE,123813.83,5458,21.29,253398.25,9674,23.11,433417.39,10188,41.53,3820093.09,57250,57.6,7192140.53,96526,67.52,LAZANDA

In [103]:
# drop Drug Name column to remove duplicates
opioids_medicare_spending_cleaned_df = opioids_medicare_spending_df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]
# remove duplicates
opioids_medicare_spending_cleaned_unique_df = opioids_medicare_spending_cleaned_df.drop_duplicates()
opioids_medicare_spending_cleaned_unique_df.columns

Index(['Generic Name', 'Total Spending, 2011', 'Unit Count, 2011',
       'Average Cost Per Unit (Weighted), 2011', 'Total Spending, 2012',
       'Unit Count, 2012', 'Average Cost Per Unit (Weighted), 2012',
       'Total Spending, 2013', 'Unit Count, 2013',
       'Average Cost Per Unit (Weighted), 2013', 'Total Spending, 2014',
       'Unit Count, 2014', 'Average Cost Per Unit (Weighted), 2014',
       'Total Spending, 2015', 'Unit Count, 2015',
       'Average Cost Per Unit (Weighted), 2015'],
      dtype='object')

In [104]:
# make new empty DF and append columns and sums
opioids_medicare_summary_df = pd.DataFrame({
    'Generic Name':['Opioids'],
    #2011
    'Total Spending, 2011':[opioids_medicare_spending_cleaned_unique_df['Total Spending, 2011'].sum()], 
    'Unit Count, 2011':[opioids_medicare_spending_cleaned_unique_df['Unit Count, 2011'].sum()],
    'Average Cost Per Unit (Weighted), 2011':[opioids_medicare_spending_cleaned_unique_df['Average Cost Per Unit (Weighted), 2011'].sum()], 
    #2012
    'Total Spending, 2012':[opioids_medicare_spending_cleaned_unique_df['Total Spending, 2012'].sum()], 
    'Unit Count, 2012':[opioids_medicare_spending_cleaned_unique_df['Unit Count, 2012'].sum()],
    'Average Cost Per Unit (Weighted), 2012':[opioids_medicare_spending_cleaned_unique_df['Average Cost Per Unit (Weighted), 2012'].sum()], 
    #2013
    'Total Spending, 2013':[opioids_medicare_spending_cleaned_unique_df['Total Spending, 2013'].sum()], 
    'Unit Count, 2013':[opioids_medicare_spending_cleaned_unique_df['Unit Count, 2013'].sum()],
    'Average Cost Per Unit (Weighted), 2013':[opioids_medicare_spending_cleaned_unique_df['Average Cost Per Unit (Weighted), 2013'].sum()], 
    #2014
    'Total Spending, 2014':[opioids_medicare_spending_cleaned_unique_df['Total Spending, 2014'].sum()], 
    'Unit Count, 2014':[opioids_medicare_spending_cleaned_unique_df['Unit Count, 2014'].sum()],
    'Average Cost Per Unit (Weighted), 2014':[opioids_medicare_spending_cleaned_unique_df['Average Cost Per Unit (Weighted), 2014'].sum()], 
    #2015
    'Total Spending, 2015':[opioids_medicare_spending_cleaned_unique_df['Total Spending, 2015'].sum()], 
    'Unit Count, 2015':[opioids_medicare_spending_cleaned_unique_df['Unit Count, 2015'].sum()],
    'Average Cost Per Unit (Weighted), 2015':[opioids_medicare_spending_cleaned_unique_df['Average Cost Per Unit (Weighted), 2015'].sum()] 
})
opioids_medicare_summary_df

,"Average Cost Per Unit (Weighted), 2011","Average Cost Per Unit (Weighted), 2012","Average Cost Per Unit (Weighted), 2013","Average Cost Per Unit (Weighted), 2014","Average Cost Per Unit (Weighted), 2015",Generic Name,"Total Spending, 2011","Total Spending, 2012","Total Spending, 2013","Total Spending, 2014","Total Spending, 2015","Unit Count, 2011","Unit Count, 2012","Unit Count, 2013","Unit Count, 2014","Unit Count, 2015"
0,608.98,988.81,1149.75,1327.18,1394.41,Opioids,3.061645e+09,3.178770e+09,3.531824e+09,4.119216e+09,4.225167e+09,5426436918,5879193783,6352428736,6438701268,6342031849